{{ define "main" }}

<!-- exemples -->
<div class="bg-gradient-shadow py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 text-center">
        <i class="fa fa-pagelines icon-lg icon-green" aria-hidden="true"></i>
        <span class="text-dark font-weight-normal">Par exemple, la présentation des clients octroie plusieurs interactions destinées aux visiteurs et à la qualité d'indexation.</span>
      </div>
    </div>
  </div>
</div>
<!-- /exemples -->

<section class="section section-lg-bottom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 order-2 order-lg-1">
        <div class="content">
          {{ .Content }}
        </div>
        <div>
          {{ with .Params.Capture }}
          <picture>
            <source srcset="{{ .image1 | absURL }}" type="image/webp">
            <source srcset="{{ .image2 | absURL }}" type="image/jpg">
            <img src="{{ .image2 | absURL}}" class="img-fluid pt-2 pb-3" alt="capture de la page d'accueil"  loading="lazy" decoding="async">
            <!--img src="{{ . | absURL }}" class="img-fluid pt-2 pb-3" alt="capture de la page d'accueil"-->
          </picture>
          {{ end }}
        </div>
        <a href="{{.Params.Apply_link | safeURL }}" class="btn btn-outline-primary" rel="noopener" target="_blank">{{.Params.Apply_link | safeURL }}</a>
      </div>

      <div class="col-lg-4 order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="p-5 rounded-xs shadow sticky-top">
          <!--h3 class="text-dark border-bottom pb-4 mb-5">{{ i18n "job_details" }}</h3-->
          {{ with .Params.Image }}
          <img src="{{ . | absURL }}" class="img-fluid  pb-3" alt="logo de l'entreprise" width="200" height="200">
          {{ end }}
          <ul class="list-unstyled">
            <li class="d-flex mb-4">
              <i class="fa fa-street-view icon icon-primary"></i>
              <div class="pl-3">
                <p class=" h5 text-dark">{{ i18n "location"}}</p>
                <p>{{ .Params.Location | markdownify }}</p>
              </div>
            </li>
            
            <li class="d-flex mb-4">
              <i class="fa fa-desktop icon icon-primary"></i>
              <div class="pl-3">
                <p class=" h5 text-dark">{{ i18n "job_category"}}</p>
                <p>{{ .Params.Job_category | markdownify }}</p>
              </div>
            </li>
            
            <li class="d-flex mb-4">
              <i class="fa fa-cogs icon icon-primary"></i>
              <div class="pl-3">
                <p class=" h5 text-dark">{{ i18n "job_type"}}</p>
                <p>{{ .Params.Job_type | markdownify }}</p>
              </div>
            </li>
            
            <li class="d-flex mb-4">
              <i class="fa fa-clock-o icon icon-primary"></i>
              <div class="pl-3">
                <p class=" h5 text-dark">{{ i18n "posted_date"}}</p>
                <p>{{ .PublishDate.Format "2006" }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}