{{ define "main" }}

<!-- exemples -->
<div class="bg-gradient-shadow py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 text-center">
        <i class="fa fa-coffee icon-lg icon-green"></i>
        <span class="text-dark font-weight-normal">Par exemple, cette page est développée en visant un confort de lecture (construction, longueur, couleurs) visible, et une optimisation (structure, poids,…) invisible, destinés à tous les écrans.</span>
      </div>
    </div>
  </div>
</div>
<!-- /exemples -->

<div class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 rounded-sm pr-5" itemscope itemtype = "http://schema.org/Article">
        <!--img src="{{ .Params.Image | absURL }}" class="rounded-sm img-fluid w-100 mb-5" alt="Webplusun : image d'illustration"-->
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200" itemprop = "name">{{ .Params.Title2 }}</h2>
        <p class="text-color card-date position-relative d-inline-block" style="font-size: small;">par <span
            class="text-dark font-weight-bold" itemprop="author">{{ .Params.Author }}</span> publié le <span
            class="text-dark font-weight-bold" itemprop="datePublished" content="{{ .Params.Date }}">{{ .PublishDate.Format "02 Jan 2006" }}</span>
            {{ if isset .Params "Lastmod" }}
              <span
            class="text-dark font-weight-bold" itemprop="datePublished" content="{{ .Params.Lastmod }}"> MàJ le {{ .Lastmod.Format "02 Jan 2006" }}</span>
            {{ if ne .Lastmod .Date }}
            {{ end }}
            {{ end }}
            <!-- MàJ le <span
            class="text-dark font-weight-bold" itemprop="datePublished" content="{{ .Params.Lastmod }}">{{ .Date.Format "02 Jan 2006" }}</span>--></p>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="my-5">
          <p class="h5 d-inline-block mr-3">Ça vous a intéressé, n'hésitez pas à partager :</p>
          <ul class="list-inline d-inline-block">
            {{ $url := printf "%s" .Permalink | absLangURL }}
            <li class="list-inline-item"><a href="https://facebook.com/sharer/sharer.php?u={{ $url }}" class="text-color lead" rel="noopener nofollow" target="_blank"><i class="fa fa-facebook "></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ $url }}" class="text-color lead" rel="noopener nofollow" target="_blank"><i class="fa fa-twitter "></i></a></li>
            <li class="list-inline-item"><a href="whatsapp://send?text={{ .Title }}%20{{ $url }}" class="text-color lead" rel="noopener nofollow" target="_blank"><i class="fa fa-whatsapp "></i></a></li>
          </ul>
        </div>

        <!-- comments {{ template "_internal/disqus.html" . }} -->
        
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>

{{ end }}