{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{"<!-- exemples -->" | safeHTML }}
{{ if $data.tarifs.exemples.enable }}
{{ with $data.tarifs.exemples }}
<section class="bg-gradient-shadow py-4">
  <div class="container">
    <div class="row">
      {{ range .exemples_item }}
      <div class="col-md-12 mb-4 mb-md-0 text-center">
        <!--p class="font-weight-light text-dark"><span class="counter" data-count="{{ .count }}">0</span>+</p-->
        <i class="fa {{ .icon }} icon-lg icon-{{.icon_color}}"></i><span class="text-dark font-weight-normal">{{ .name }}</span>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- /exemples -->" | safeHTML }}

{{"<!-- tarifs -->"| safeHTML}}
{{ if $data.tarifs.pricing.enable }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      {{ with $data.tarifs.pricing }}
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle1 }}</p>
        <p class="subtitle" data-aos="fade-up">{{ .subtitle2 }}</p>
        <p class="subtitle text-dark" data-aos="fade-up">{{ .subtitle3 }}</p>
        <p class="subtitle" data-aos="fade-up">{{ .subtitle4 }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
      {{ end }}
      {{ partial "pricing-table.html" . }}
    </div>
  </div>
</section>
{{ end }}
{{"<!-- /tarifs -->"| safeHTML}}

{{ end }}