//*bleu (liens) = #1495d1 *//*bleu foncé = #0c639a */ /* vert (important) = #a9c800 */ /*vert foncé = #65a724 */ /* gris clair (textes ou pictos) = #737f8a / gris foncé (fond) = #1d2024 

// variables
$primary-color: #007ac7;
$text-dark:#1d2024;
$secondary-color:#a9c800;
$text-color:#737f8a;
$text-light:#d4dae3;
$white: #fff;
$border-color: #2d3041;
$bg-gradient-primary: linear-gradient(134deg, #00a4db 0%, #00269e 100%);
$bg-gradient-secondary:linear-gradient(134deg, #1d2024 0%, #0c639a 100%);
$bg-gradient-ter:linear-gradient(134deg, #65a724 0%, #a9c800 100%);
$btn-gradient-primary: linear-gradient(45deg, rgba(0, 168, 244, 0) 0%, #a9c800 100%);
$bg-secondary: #1d2024;
$gray: #737f8a;
$black: #000;
$green: #a9c800;

$icon-font: 'FontAwesome';
$primary-font: 'luciole',sans-serif;
$secondary-font: 'luciole',sans-serif;
