{{"<!-- footer -->" | safeHTML }}
<footer class="bg-secondary pt-3" itemscope="itemscope" itemtype="http://schema.org/WPfooter">
  <div class="section border-bottom border-color">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 mb-4 mb-md-0" itemscope itemtype="http://schema.org/Brand">
          <a href="{{ .Site.BaseURL | relLangURL }}">
            <picture>
              <source srcset="{{ .Site.Params.logo1 | absURL }}" type="image/webp" alt="{{ .Site.Title }}">
              <img src="{{ .Site.Params.logo2 | absURL }}" class="mb-4" alt="{{ .Site.Title }}">
            </picture>
          </a>
          <p class="text-light mb-4">{{ .Site.Params.footer_content | markdownify }}</p>
          <ul class="list-inline social-icons">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL | safeURL }}"><i class="fa {{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <p class="h4 text-white mb-4">{{ i18n "quick_links" }}</p>
          <ul class="list-styled list-hover-underline">
            {{ range .Site.Menus.footer }}
            <li class="mb-3 text-light"><a href="{{ .URL | relLangURL }}" class="text-light">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" itemscope itemtype="http://schema.org/Organization">
          <p class="h4 text-white mb-4">{{ i18n "contact_info"}}</p>
          <ul class="list-unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <li class="mb-3 text-light">{{.Site.Params.horaires | safeHTML }}</li>
            <li class="mb-3 text-light" itemprop="streetAddress">{{.Site.Params.address | safeHTML }}</li>
            <li class="mb-3 text-light" itemprop="telephone">{{.Site.Params.mobile | safeHTML }}</li>
            <li class="mb-3 text-light" itemprop="email">{{.Site.Params.email | safeHTML }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{"  <!-- /footer -->" | safeHTML }}

  {{"  <!-- copyright -->" | safeHTML }}
  <div class="py-4 bg-gradient-secondary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 text-light">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  {{"  <!-- /copyright -->" | safeHTML }}
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}
<!-- Cookies -->
<script src="../plugins/cookiechoices/cookiechoices.js"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous proposer le meilleur service possible, notamment un affichage plus rapide lors de votre prochaine visite car votre passage reste en mémoire, et pour moi une analyse plus complète du parcours de tous les visiteurs sur mes pages.', 'J’accepte', 'En savoir plus', './mentions-legales/');});</script>
<!-- /Cookies -->
{{ "<!-- JS Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


