{{"<!-- footer -->" | safeHTML }}
<footer class="bg-secondary pt-3" itemscope="itemscope" itemtype="http://schema.org/WPfooter">
  <div class="section border-bottom border-color">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 mb-4 mb-md-0" itemscope itemtype="http://schema.org/Brand">
          <a href="{{ .Site.BaseURL | relLangURL }}">
            <picture>
              <source srcset="{{ .Site.Params.logo1 | absURL }}" type="image/webp">
              <source srcset="{{ .Site.Params.logo2 | absURL }}" type="image/png">
              <img src="{{ .Site.Params.logo2 | absURL }}" class="mb-4" alt="{{ .Site.Title }}">
            </picture>
          </a>
          <p class="text-light mb-4">{{ .Site.Params.footer_content | markdownify }}</p>
          <ul class="list-inline social-icons">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL | safeURL }}" target="_blank"><i class="fa {{ .icon }}"></i>{{ .link }}</a></li>
            {{ end }}
          </ul>
          <!--img src="https://api.thegreenwebfoundation.org/greencheckimage/webplusun.fr?nocache=true" alt="This website is hosted Green - checked by thegreenwebfoundation.org" -->
        </div>
        <div class="col-md-3 col-sm-6">
          <p class="h4 text-white mb-4">{{ i18n "quick_links" }}</p>
          <ul class="list-styled list-hover-underline">
            {{ range .Site.Menus.footer }}
            <li class="mb-3 text-light"><a href="{{ .URL | relLangURL }}" class="text-light">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <p class="h4 text-white mb-4">{{ i18n "contact_info"}}</p>
          <ul class="list-unstyled">
            <li class="mb-3 text-light">{{.Site.Params.horaires | safeHTML }}</li>
            <li class="mb-3 text-light">{{.Site.Params.address | safeHTML }}</li>
            <li class="mb-3 text-light"><a href="tel:{{.Site.Params.mobile | safeURL }}">{{.Site.Params.mobile | safeHTML }}</a></li>
            <li class="mb-3 text-light"><a href="mailto:{{.Site.Params.email | safeURL }}">{{.Site.Params.email | safeHTML }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{"  <!-- /footer -->" | safeHTML }}

  {{"  <!-- copyright -->" | safeHTML }}
  <div class="py-4 bg-gradient-secondary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="mb-0 text-light">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  {{"  <!-- /copyright -->" | safeHTML }}
</footer>


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- JS Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- script Userway -->
<script>
      (function(d){
         var s = d.createElement("script");
         /* uncomment the following line to override default position*/
         /* s.setAttribute("data-position", 3);*/
         /* uncomment the following line to override default size (values: small, large)*/
         /* s.setAttribute("data-size", "small");*/
         /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
         /* s.setAttribute("data-language", "language");*/
         /* uncomment the following line to override color set via widget (e.g., #053f67)*/
         /* s.setAttribute("data-color", "#053e67");*/
         /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
         /* s.setAttribute("data-type", "1");*/
         /* s.setAttribute("data-statement_text:", "Our Accessibility Statement");*/
         /* s.setAttribute("data-statement_url", "http://www.example.com/accessibility")";*/
         /* uncomment the following line to override support on mobile devices*/
         /* s.setAttribute("data-mobile", true);*/
         /* uncomment the following line to set custom trigger action for accessibility menu*/
         /* s.setAttribute("data-trigger", "triggerId")*/
         s.setAttribute("data-account", "gKy2sa9Vfr");
         s.setAttribute("src", "https://cdn.userway.org/widget.js");
         (d.body || d.head).appendChild(s);})(document)
     </script>
<noscript>
Assurez-vous d'autoriser le language Javascript pour vérifier l'
<a href="https://userway.org">accessibilité du website</a>
</noscript>
<!-- fin script Userway -->


