{{ define "main" }}


<!-- exemples -->
<section class="bg-gradient-shadow py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mb-md-0 text-center">
        <i class="fa fa-sitemap icon-lg icon-green"></i>
        <span class="text-dark font-weight-normal">Par exemple, une page 404 personnalisée amène une image de site travaillé jusqu'au bout.</span>
      </div>
    </div>
  </div>
</section>
<!-- /exemples -->

<section class="section section-lg-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12 align-self-center pl-lg-4">
		        <p data-aos="fade-up" data-aos-delay="400">Une erreur de configuration a donné ce mauvais aiguillage. Qu'importe, je vous invite à rebrousser chemin et reprendre votre quête d'informations.<br>
		        Et si le problème persiste sur la donnée, alors merci de cliquer sur le lien ci-dessous pour me prévenir afin que je corrige au plus vite.</p>
		        <a href="./contact" class="btn btn-outline-primary" data-aos="fade-right" data-aos-delay="500">Indiquez-moi cette erreur</a>
	    	</div>
		</div>
	</div>
</section>


{{ end }}