{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{"<!-- exemples -->" | safeHTML }}
{{ if $data.webplusun.exemples.enable }}
{{ with $data.webplusun.exemples }}
<div class="bg-gradient-shadow py-4">
  <div class="container">
    <div class="row">
      {{ range .exemples_item }}
      <div class="col-md-12 mb-4 mb-md-0 text-center">
        <!--p class="font-weight-light text-dark"><span class="counter" data-count="{{ .count }}">0</span>+</p-->
        <i class="fa {{ .icon }} icon-lg icon-{{.icon_color}}"></i><span class="text-dark font-weight-normal">{{ .name }}</span>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}
{{"<!-- /exemples -->" | safeHTML }}

{{"<!-- Webplusun -->" | safeHTML }}
{{ if $data.webplusun.webplusun.enable }}
{{ with $data.webplusun.webplusun }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
        <div class="position-relative" data-aos="fade-up">
          <picture>
            <source srcset="{{ .image1 | absURL }}" type="image/webp">
            <source srcset="{{ .image2 | absURL }}" type="image/jpeg">
            <amp-img src="{{ .image2 | absURL}}" class="img-fluid shadow" alt="{{ .alt }}" data-aos="fade-right" loading="lazy" decoding="async" width="510" height="384" layout="responsive">
          </picture>
          <!-- img src="{{ .image | absURL}}" class="img-fluid shadow" alt="{{ .alt }}" -->
          
        </div>
      </div>
      <div class="col-md-6 align-self-center pl-lg-4">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <p data-aos="fade-up" data-aos-delay="400">{{ .content | markdownify }}
        {{ if .button.enable }}
        {{ with .button }}
        <a class="btn btn-outline-primary" href="{{ .link | absLangURL }}" data-aos="fade-up" data-aos-delay="600">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- Webplusun -->" | safeHTML }}

{{"<!-- Call To Action -->" | safeHTML}}
{{ if $data.service.cta.enable }}
{{ with $data.service.cta }}
<section class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ .bg_Image | absURL }}")'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="call-to-action">{{ .title | markdownify }}</h2>
        <p class="call-to-action">{{ .content | markdownify }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn call-to-action-btn">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- /Services -->" | safeHTML}}

{{"<!-- présentation -->" | safeHTML}}
{{ if $data.team.team.enable }}
{{ with $data.team.team }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <span class="subtitle" data-aos="fade-up">{{ .subtitle }}</span>
        
      </div>
      {{ range $index, $element:= .team_member }}
      {{ $delay := mul $index 200}}
      {{"<!-- portrait -->" | safeHTML}}
      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="{{$delay}}">
        <div class="team-member text-center">
          <img src="{{ .image | absURL }}" class="img-fluid w-100 rounded-sm shadow" alt="{{.name}}">
          <div class="team-member-content p-4">
            <h3 class="team-member-name text-white">{{.name}}</h3>
            <p class="team-member-designation text-light">{{ .designation }}</p>
            <ul class="list-inline team-member-social">
              {{ range .social }}
              <li class="list-inline-item"><a href="{{.link | safeURL }}" class="p-2" rel="noopener nofollow" target="_blank"><i class="fa {{ .icon }} text-white"></i></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
      {{ if $data.webplusun.fred.enable }}
      {{ with $data.webplusun.fred }}
      <div class="col-md-6 align-self-center pl-lg-4">
        <!--p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <p data-aos="fade-up" data-aos-delay="400">{{ .content | markdownify }}</p-->
        <p data-aos="fade-up" data-aos-delay="400">{{ .content | markdownify }}
        {{ if .button.enable }}
        {{ with .button }}
        <a class="btn btn-outline-primary" href="{{ .link | absLangURL }}" data-aos="fade-up" data-aos-delay="600">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- /présentation -->" | safeHTML}}

{{"<!-- phrases -->"| safeHTML}}
{{ if $data.webplusun.testimonial.enable }}
{{ with $data.webplusun.testimonial }}
<section class="section-phrases bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="100">{{ .title }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider" data-aos="fade-up" data-aos-delay="200">
      {{ range .testimonial_item }}
      <div class="col-lg-4">
        <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
          <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
          <p class="mb-4">{{ .content | markdownify }}</p>
          <p class="h4">{{ .name }}</p>
          <span class="h6">{{ .designation }}</span>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- /phrases -->"| safeHTML}}

{{ end }}